<h1>Esra Polat</h1> 
<h2>Hakkimda</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!-- ornek yorum -->

<img src="https://picsum.photos/600/300" alt="bu bir resim" />

<h2>Ilgi Alanlarim</h2>

<ol>
    <li>Film
        <ul>
            <li>Forest Gump</li>
            <li>Interstellar</li>
            <li>The Shawshank Redemption</li>
          </ul>
    </li>
    <li>Dizi
      <ul>
        <li>Game of Thrones</li>
        <li>Dark</li>
        <li>Lucifer</li>
      </ul>
    </li>
    <li>Kitap
        <ul>
            <li>Serenad</li>
            <li>Hayvan Ciftligi</li>
            <li>Seker Portakali</li>
            <li>Ucurtma Avcisi</li>
            <li>Suc ve Ceza</li>
            <li>Kurk Mantolu Madonna</li>
          </ul>
    </li>
</ol>